.editnote-form {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.editnote-form input {
    height: 80px;
    width: 100%;
    font-size: 22px;
    font-family: 'Chakra Petch', sans-serif;
    margin: 20px 0px;
    border-radius: 25px;
    box-sizing: border-box;
    border-bottom:6px solid #000000;
}

.editnote-form input:focus {
    background-color: honeydew;
    border: 6px solid #000000;
}

.editnote-form textarea {
    width: 100%;
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
    margin: 20px 0px;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    outline:0;
    resize:vertical;
    height: 100vh;
    border-bottom:6px solid #000000;
}

.editnote-form textarea:focus {
    background-color: honeydew;
    border: 6px solid #000000;
}

.edit-note-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  width: 100px;
  height: 50px;
  touch-action: manipulation;
}

.edit-note-btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
