.register-wrapper {
    background-image: url('https://i.ibb.co/cJWmzMf/pexels-leeloo-thefirst-5227440.jpg');   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 40px 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.register-body {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0px 50px;
    padding: 40px;
}

.register-body h1 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 40px;
}
.register-form {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: black;
    height: 500px;
    width: 500px;
    border-radius: 25px;
    margin-top: 40px;
}

.register-form h3 {
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 0px;
}

.register-form a {
    color: #d64d51;
    font-size: 22px;
}

.register__input {
    color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 10px;
  line-height: 22px;
  background-color: transparent;
  border-bottom:2px solid #f7797d;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 35px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.register__input:focus { 
    border: 4px solid #f7797d; 
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }

  .register-btn {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#f7797d;
    border-radius:15px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }

  .register-btn:hover {
    background:#dd363c;
  }